  .dashboard-header {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .parameter-box {
    margin-bottom: 16px;
  }
  
  .parameter-name {
    margin-bottom: 8px;
  }
  
  .parameter-slider {
    margin-bottom: 8px;
  }
  
  .apply-button {
    margin-top: 16px;
    background-color: #268ef6;
    color: white;
  }
  
  .apply-button:hover {
    background-color: #c01515;
  }
  .custom-textfield {
    width: 50px; /* Adjust the width as needed */
  }

  .parameter-selection {
    flex: 0; /* Adjust padding as needed */
    margin-top: -80px;
    margin-left: -20px;
  }
  